body {
    background: linear-gradient(45deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background-size: 2000% auto;
    animation: gradient 30s ease infinite;
    margin: 0;
    font-family: Arial, sans-serif;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content {
    text-align: center;
    padding: 20px;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.text {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.avatar {
    max-width: 128px;
    text-align: center;
    margin-right: 20px;
}

.text-right {
    text-align: center;
    color: #dc94f5;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5em;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: #a83fff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #922bcc;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.avatar img {
    width: 100%;
    border-radius: 100px;
    overflow: hidden;
}

.panel-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin: 10px;
    flex: 0 0 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.panel-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.panel-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.panel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}